*
!.gitignore
!shell.nix
!.shellhook
!.clang-format
!.ocp-indent
!vim/
!*.vim
!scripts/
!*.sh
!src/
!src/vm/
!src/vm/app/
!src/vm/lib/
!*.h
!*.c
!examples/
!*.sals

!*.hs
!*.ml
!sketches/
!sketches/haskell/
!sketches/ocaml/
